body {
  text-align: center;
  background: #efefef;
  font-family: Arial, sans-serif;
  padding: 30px;
}

#buttons {
  margin-top: 30px;
}

.btn {
  padding: 15px 25px;
  margin: 10px;
  border: none;
  background: royalblue;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: dodgerblue;
}

.stop {
  padding: 15px 25px;
  background: crimson;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 6px;
  cursor: pointer;
}

.stop:hover {
  background: red;
}
